In [1]:
#A list is a sequenced collection of different objects such as integers, strings, and other lists as well. The address of each element within a list is called an index. An index is used to access and refer to items within a list.
List=['India',1,123.2]

In [2]:
#list square brackets

In [4]:
print('the same element using negative and positive indexing:\n Postive:',List[2],'\n Negative:' , List[-1])

the same element using negative and positive indexing:
 Postive: 123.2
 Negative: 123.2

In [5]:
#list slicing
List[0:2]

['India', 1]

In [6]:
#to extend the list
List.extend(['Dhoni','Virat',18,7])

In [7]:
List

['India', 1, 123.2, 'Dhoni', 'Virat', 18, 7]

In [8]:
#LIST CAN BE CHANGED AS OPPOSED TO TUPLES

In [10]:
#If we apply append instead of extend, we add one element to the list:
List2=['India',1,123.2]
List2.append(['Dhoni','Virat',18,7])

In [11]:
List2

['India', 1, 123.2, ['Dhoni', 'Virat', 18, 7]]

In [13]:
#lists are mutable so the values can be changed
List[0]='Australia'
List

['Australia', 1, 123.2, 'Dhoni', 'Virat', 18, 7]

In [15]:
#delete an element from the list
del[List[0]]

In [16]:
List

[1, 123.2, 'Dhoni', 'Virat', 18, 7]

In [17]:
#convert string to list using split

In [18]:
'India are inching towards the trophy'.split()

['India', 'are', 'inching', 'towards', 'the', 'trophy']

In [20]:
'India are inching towards the trophy'.split('i')

['Ind', 'a are ', 'nch', 'ng towards the trophy']

In [22]:
'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

In [25]:
#copy by reference for list
A=[10,20,30]
B=A
B

[10, 20, 30]

In [26]:
del[B[0]]

In [27]:
A # A will change even if B had made a change

[20, 30]

In [30]:
#clone by value
A=[10,20,30]
B=A[:]
B

[10, 20, 30]

In [31]:
B[0]=40

In [32]:
A # A wont change

[10, 20, 30]

In [33]:
B

[40, 20, 30]

In [34]:
A+B #CONCAT LIST

[10, 20, 30, 40, 20, 30]