In [1]:
player={"kohli","bumrah"}

In [2]:
player.add("dhoni")

In [3]:
player

{'bumrah', 'dhoni', 'kohli'}

In [4]:
player.add("dhoni") #no duplicates in the set data structure

In [5]:
player

{'bumrah', 'dhoni', 'kohli'}

In [6]:
List_players=["Rohit","Dravid","Sachin","Rohit"]
#List to sets
New_Set=set(List_players)

In [7]:
New_Set

{'Dravid', 'Rohit', 'Sachin'}

In [9]:
Old={"Dhoni","Dravid","Sachin","Harbhajan"}
New={"kohli","bumrah","Dhoni","Harbhajan"}

In [10]:
#intersection between set
intersection=Old & New

In [12]:
intersection

{'Dhoni', 'Harbhajan'}

In [13]:
#difference between sets
Old.difference(New)

{'Dravid', 'Sachin'}

In [14]:
# Use intersection method to find the intersection of album_list1 and album_list2

Old.intersection(New)

{'Dhoni', 'Harbhajan'}

In [15]:
Old.union(New)

{'Dhoni', 'Dravid', 'Harbhajan', 'Sachin', 'bumrah', 'kohli'}

In [16]:
# Check if superset

set(Old).issuperset(New)

False

In [17]:
Old={"Harbhajan","Dhoni"} #changed old set

In [18]:
# Check if subset

set(Old).issubset(New)

True

In [20]:
#shows the difference between set and list
A=[1,2,2,1]
B = set([1, 2, 2, 1])
print("Sum of list",sum(A))   
print("Sum of Set",sum(B))

Sum of list 6
Sum of Set 3