In [1]:
tuple1=("India",10,20.5)

In [2]:
tuple1

('India', 10, 20.5)

In [3]:
type(tuple1)

tuple

In [4]:
print(tuple1[0])

India

In [5]:
print(type(tuple1[0]))

<class 'str'>

In [6]:
print(type(tuple1[1]))

<class 'int'>

In [8]:
#we can do negative indexing even in the tuples
concat_tuple=tuple1+("18","Australia")

In [9]:
concat_tuple

('India', 10, 20.5, '18', 'Australia')

In [10]:
#slicing the tuples

In [11]:
concat_tuple[0:3] #first three elements

('India', 10, 20.5)

In [12]:
concat_tuple[3:5] #last 2 elements

('18', 'Australia')

In [13]:
#length of tuple

In [14]:
len(tuple1)

3

In [15]:
tuple_teams=('India','England','Australia','Bangladesh','South Africa','New Zealand')

In [16]:
sort_tuple=sorted(tuple_teams)

In [17]:
sort_tuple

['Australia', 'Bangladesh', 'England', 'India', 'New Zealand', 'South Africa']

In [19]:
#tuple within a tuple
tup_in_tup=(1,("Pakistan",9),("India",20),5.5)

In [20]:
type(tup_in_tup[2])

tuple

In [21]:
print("2nd Element of tup_in_tup ",tup_in_tup[2])

2nd Element of tup_in_tup  ('India', 20)

In [22]:
tup_in_tup[2][0]

'India'

In [23]:
tup_in_tup[2][1]

20